extends layout
block content
        #page-wrapper
          #page-inner
            h1 Dashboard: "#{server}"
            script(src='https://code.highcharts.com/stock/highstock.js')
            script(src='https://code.highcharts.com/stock/modules/exporting.js')
            #container(style='height: 400px; min-width: 310px')
            script(type='text/javascript').
              Highcharts.setOptions({
              global: {
              useUTC: false
              }
              });
              // Create the chart
              Highcharts.stockChart('container', {
              chart: {
              events: {
              load: function () {
              // set up the updating of the chart each second
              var series = this.series[0];
              /*setInterval(function () {
              var x = (new Date()).getTime(), // current time
              y = Math.round(Math.random() * 100);
              series.addPoint([x, y], true, true);
              }, 2000);*/
              var socket = io();
                            socket.on("!{server}", function(msg){
                                              var lpl = JSON.parse(msg);
                                              //alert([parseInt(lpl[0]),parseFloat(lpl[1]).toFixed(2)]);
                                              //alert(parseFloat(lpl[1]).toFixed(2))
                                              series.addPoint([parseInt(lpl[0]),parseFloat(parseFloat(lpl[1]).toFixed(2))], true, true);
                            });
              }
              }
              },
              rangeSelector: {
              buttons: [{
              count: 1,
              type: 'minute',
              text: '1M'
              }, {
              count: 5,
              type: 'minute',
              text: '5M'
              }, {
              type: 'all',
              text: 'All'
              }],
              inputEnabled: false,
              selected: 0
              },
              title: {
              text: 'Live random data'
              },
              exporting: {
              enabled: false
              },
              series: [{
              name: 'CPU usage',
              data: (function () {
              var lpl = JSON.parse( !{JSON.stringify(arr)});
              var lista_plot_float = [];
              lpl.forEach(function(element) {
              lista_plot_float.push([parseInt(element[0]),parseFloat(parseFloat(element[1]).toFixed(2))]);
              });
              return lista_plot_float;
              }())
              }]
              });

            //script(id='helper' src='/javascripts/highcharts_time_series.js')





