extends layout

block content
        #page-wrapper
          #page-inner
            .container
                  .jumbotron.text-center
                    h1
                      span.fa.fa-lock
                      |  Node Authentication
                    p Login or Register with:
                    a.btn.btn-danger(href='/auth/google')
                      span.fa.fa-google-plus
                      |  Google+
            // /. ROW
            hr
            // /. ROW
          // /. PAGE INNER
        // /. PAGE WRAPPER
        .footer
          .row
            .col-lg-12
              | ©  2014 yourdomain.com | Design by:
              a(href='http://binarytheme.com', style='color:#fff;', target='_blank') www.binarytheme.com

